body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 600px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    margin: 0;
    padding: 10px;
}

#open{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0;
    box-shadow: 3px 3px gray;
    color: aliceblue;
    background-color: darkcyan;
}
#open:hover{
    background-color: cyan;
}

#open:active{
    box-shadow: none;
    margin-left: 3px;
    margin-top: 3px;
}

.hidden-container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    padding: 10px;
}
#add,#discard,#remove{
    border: 1px solid white;
    margin: 0;
    box-shadow: 3px 3px gray;
    color: aliceblue;
    background-color: darkcyan;
}
#add:hover,#remove:hover{
    background-color: cyan;
}
#discard:hover{
    background-color: cyan;
}
#add:active,#discard:active,#remove:active{
    box-shadow: none;
    margin-left: 3px;
    margin-top: 3px;
}

li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    background-color:mistyrose;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    padding: 10px;
    width: 550px;
    margin-right: 33px;
    margin-bottom: 10px;
}

li:hover{
    background-color: bisque;
}
